* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --color-primary: #191d2b;
  --color-secondary: #8c308c;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);

  /* admin */

  --bg-admin-color: #060714;
  --text-admin-color: #fbfbfb;

  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

.light-mode {
  --bg-admin-color: #eee;
  --text-admin-color: #342e37;

  --color-primary: #ffffff;
  --color-secondary: #f56692;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f8f8f8;
  --color-grey-6: #12181b;
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

/* ===============WEBSITE CSS ============ */
#website {
  /*Header-content*/
  /*About*/
  /*Timeline*/
  /*Independed components*/
}
#website a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
#website header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}
#website section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}
#website .container {
  /* display: none;
	 */
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}
#website .active {
  display: block;
  animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}
@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
#website .controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
#website .controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
#website .controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
#website .controls .active-btn {
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}
#website .controls .active-btn i {
  color: var(--color-white);
}
#website .theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
#website .theme-btn:active {
  transform: translateY(-3px);
}
#website .theme-btn i {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
#website .header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
#website .header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
#website .header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
#website .header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--color-black);
  transition: all 0.4s ease-in-out;
}
#website .header-content .left-header .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(0);
}
#website .header-content .left-header .image img:hover {
  filter: grayscale(100%);
}
#website .header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
#website .header-content .right-header .name {
  font-size: 3rem;
}
#website .header-content .right-header .name span {
  color: var(--color-secondary);
}
#website .header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}
#website .about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
#website .about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
#website .about-container .right-about .about-item {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
#website .about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
#website .about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
#website .about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}
#website .about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}
#website
  .about-container
  .right-about
  .about-item
  .abt-text
  .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}
#website .about-container .left-about {
  padding-right: 5rem;
}
#website .about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
}
#website .about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}
#website .about-stats {
  padding-bottom: 4rem;
}
#website .about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
#website .about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
#website .about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}
#website .about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
#website .about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-grey-2);
}
#website .about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}
#website
  .about-stats
  .progress-bars
  .progress-bar
  .progress-con
  .progress
  span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
  width: 60%;
}
#website
  .about-stats
  .progress-bars
  .progress-bar
  .progress-con
  .progress
  .html {
  width: 80%;
}
#website
  .about-stats
  .progress-bars
  .progress-bar
  .progress-con
  .progress
  .css {
  width: 95%;
}
#website .about-stats .progress-bars .progress-bar .progress-con .progress .js {
  width: 75%;
}
#website
  .about-stats
  .progress-bars
  .progress-bar
  .progress-con
  .progress
  .react {
  width: 60%;
}
#website
  .about-stats
  .progress-bars
  .progress-bar
  .progress-con
  .progress
  .node {
  width: 87%;
}
#website
  .about-stats
  .progress-bars
  .progress-bar
  .progress-con
  .progress
  .python {
  width: 70%;
}
#website .stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
#website .stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}
#website .timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
#website .timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-grey-5);
}
#website .timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#website .timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}
#website .timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
#website .timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
#website .timeline .timeline-item h5 span {
  color: var(--color-grey-2);
  font-weight: 500;
  font-size: 1.2rem;
}
#website .timeline .timeline-item p {
  color: var(--color-grey-2);
}
#website .port-text {
  padding: 2rem 0;
  text-align: center;
}
#website .portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
#website .portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}
#website .portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
#website .portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
#website .portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}
#website .portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#website .portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
#website .portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}
#website .portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}
#website .portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}
#website .portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}
#website .blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
#website .blogs .blog {
  position: relative;
  background-color: var(--color-grey-5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
#website .blogs .blog:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
#website .blogs .blog:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}
#website .blogs .blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}
#website .blogs .blog .blog-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--color-secondary);
}
#website .blogs .blog .blog-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
#website .blogs .blog .blog-text h4:hover {
  color: var(--color-secondary);
}
#website .blogs .blog .blog-text p {
  color: var(--color-grey-2);
  line-height: 2rem;
  padding-bottom: 1rem;
}
#website .contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
#website .contact-content-con .left-contact {
  flex: 3;
}
#website .contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
#website .contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
#website .contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#website .contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
#website .contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
#website
  .contact-content-con
  .left-contact
  .contact-info
  .contact-item
  .icon
  i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
#website .contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}
#website .contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
#website .contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
#website .contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
#website .contact-content-con .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
#website .contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
#website .contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
#website .contact-content-con .right-contact .input-control input,
#website .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
#website .contact-content-con .right-contact .i-c-2 {
  display: flex;
}
#website .contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
#website .contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}
#website .btn-con {
  display: flex;
  align-self: flex-start;
}
#website .main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
#website .main-btn .btn-text {
  padding: 0 2rem;
}
#website .main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
#website .main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
#website .main-btn:hover {
  transition: all 0.4s ease-out;
}
#website .main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}
#website .main-title {
  text-align: center;
}
#website .main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
#website .main-title h2 span {
  color: var(--color-secondary);
}
#website .main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}
#website .about-container .left-about p {
  padding-left: 0;
}
@media screen and (max-width: 600px) {
  #website header {
    padding: 0 !important;
  }
  #website .theme-btn {
    width: 50px;
    height: 50px;
  }
  #website .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  #website .left-header .h-shape {
    display: none;
  }
  #website .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  #website .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
  #website .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  #website .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  #website .controls .control {
    margin: 1rem 0.3rem;
  }
  #website .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #website .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 2.5rem;
  }
  #website .about-container .left-about {
    padding-right: 0;
  }
  #website .about-container .left-about p {
    padding-left: 0;
  }
  #website .timeline {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  #website .container {
    padding: 2rem 2.5rem !important;
  }
  #website .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }
  #website .portfolios {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }
  #website .blogs {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  #website .contact-content-con {
    flex-direction: column;
  }
  #website .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  #website .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  #website .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  #website .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  #website .contact-item {
    flex-direction: column;
    margin: 1rem 0;
  }
  #website .contact-item p {
    font-size: 15px;
    color: var(--color-grey-2);
  }
  #website .contact-item span {
    font-size: 15px;
  }
  #website .contact-item .icon {
    grid-template-columns: 25px 1fr;
  }
  #website .main-title h2 {
    font-size: 2rem;
  }
  #website .main-title h2 span {
    font-size: 2.3rem;
  }
  #website .main-title h2 .bg-text {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1432px) {
  #website .container {
    padding: 7rem 11rem;
  }
  #website .contact-content-con {
    flex-direction: column;
  }
  #website .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  #website .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  #website .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  #website .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  #website .main-title h2 .bg-text {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 1250px) {
  #website .blogs {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
  }
  #website .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
  #website .header-content .right-header {
    padding-right: 9rem;
  }
}
@media screen and (max-width: 660px) {
  #website .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  #website .portfolios {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1070px) {
  #website .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #website .about-container .right-about {
    padding-top: 2.5rem;
  }
  #website .main-title h2 {
    font-size: 4rem;
  }
  #website .main-title h2 span {
    font-size: 4rem;
  }
  #website .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 970px) {
  #website .container {
    padding: 7rem 6rem;
  }
  #website .about-container .left-about {
    padding-right: 0rem;
  }
  #website .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  #website .left-header .h-shape {
    display: none;
  }
  #website .left-header .image {
    width: 90% !important;
    margin: 0 auto !important;
  }
  #website .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  #website .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
}
@media screen and (max-width: 700px) {
  #website .container {
    padding: 7rem 3rem;
  }
  #website .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }
  #website .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
  }
  #website .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
  #website .main-title h2 {
    font-size: 3rem;
  }
  #website .main-title h2 span {
    font-size: 3rem;
  }
  #website .main-title h2 .bg-text {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=styles.css.map */

/* ==================SIGNUP SIGNIN FORM CSS===================*/

/* Form Signup */
#guess {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url("img/background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
#guess .form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#guess h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
#guess .inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
#guess .inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
#guess input:focus ~ label,
#guess input:valid ~ label {
  top: -5px;
}
#guess .inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}
#guess .inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
#guess .forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
#guess .forget label input {
  margin-right: 3px;
}
#guess .forget label a {
  color: #fff;
  text-decoration: none;
}
#guess .forget label a:hover {
  text-decoration: underline;
}
#guess button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
#guess .register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
#guess .register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
#guess .register p a:hover {
  text-decoration: underline;
}

/* ======================ADMIN CSS ==================== */

#admin {
  /* SIDEBAR */
  /* CONTENT */
  /* NAVBAR */
  /* NAVBAR */
  /* MAIN */
  /* MAIN */
  /* CONTENT */
}
#admin #sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--color-primary);
  z-index: 2000;
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#admin #sidebar::--webkit-scrollbar {
  display: none;
}
#admin #sidebar.hide {
  width: 60px;
}
#admin #sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--color-secondary);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--color-primary);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}
#admin #sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}
#admin #sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}
#admin #sidebar .side-menu li {
  height: 68px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 6px;
}
#admin #sidebar .side-menu li.active {
  background: var(--bg-admin-color);
  position: relative;
}
#admin #sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--bg-admin-color);
  z-index: -1;
}
#admin #sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--bg-admin-color);
  z-index: -1;
}
#admin #sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}
#admin #sidebar .side-menu.top li.active a {
  color: var(--color-secondary);
}
#admin #sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}
#admin #sidebar .side-menu li a.logout {
  color: var(--red);
}
#admin #sidebar .side-menu.top li a:hover {
  color: var(--color-secondary);
}
#admin #sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
#admin #content {
  background: var(--bg-admin-color);
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
  min-height: 100vh;
}

#admin #page-content {
  border-radius: 16px;
  overflow: auto;
  padding: 40px;
}
#admin #sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}
#admin #content nav {
  height: 56px;
  background: var(--color-primary);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
#admin #content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--color-primary);
}
#admin #content nav a {
  color: var(--dark);
}
#admin #content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}
#admin #content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}
#admin #content nav .nav-link:hover {
  color: var(--color-secondary);
}
#admin #content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
#admin #content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}
#admin #content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--bg-admin-color);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}
#admin #content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-secondary);
  color: var(--color-primary);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
#admin #content nav .notification {
  font-size: 20px;
  position: relative;
}
#admin #content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  background: var(--red);
  color: var(--color-primary);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#admin #content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
#admin #content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--bg-admin-color);
  cursor: pointer;
  position: relative;
}
#admin #content nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--color-secondary);
  border-radius: 50%;
  transition: all 0.3s ease;
}
#admin #content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}
#admin #content main {
  width: 100%;
  padding: 36px 24px;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
#admin #content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
#admin #content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}
#admin #content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
#admin #content main .head-title .left .breadcrumb li {
  color: var(--dark);
}
#admin #content main .head-title .left .breadcrumb li a {
  color: var(--color-grey-2);
  pointer-events: none;
}
#admin #content main .head-title .left .breadcrumb li a.active {
  color: var(--color-secondary);
  pointer-events: unset;
}
#admin #content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--color-secondary);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}
#admin #content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}
#admin #content main .box-info li {
  padding: 24px;
  background: var(--color-primary);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}
#admin #content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#admin #content main .box-info li:nth-child(1) .bx {
  background: var(--color-grey-2);
  color: var(--color-secondary);
}
#admin #content main .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}
#admin #content main .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
}
#admin #content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}
#admin #content main .box-info li .text p {
  color: var(--dark);
}
#admin #content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}
#admin #content main .table-data > div {
  border-radius: 20px;
  background: var(--color-primary);
  padding: 24px;
  overflow-x: auto;
}
#admin #content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
#admin #content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}
#admin #content main .table-data .head .bx {
  cursor: pointer;
}
#admin #content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}
#admin #content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}
#admin #content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--bg-admin-color);
}
#admin #content main .table-data .order table td {
  padding: 16px 0;
}
#admin #content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}
#admin #content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
#admin #content main .table-data .order table tbody tr:hover {
  background: var(--bg-admin-color);
}
#admin #content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--color-primary);
  border-radius: 20px;
  font-weight: 700;
}
#admin #content main .table-data .order table tr td .status.completed {
  background: var(--color-secondary);
}
#admin #content main .table-data .order table tr td .status.process {
  background: var(--yellow);
}
#admin #content main .table-data .order table tr td .status.pending {
  background: var(--orange);
}
#admin #content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}
#admin #content main .table-data .todo .todo-list {
  width: 100%;
}
#admin #content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--bg-admin-color);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#admin #content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}
#admin #content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--color-secondary);
}
#admin #content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}
#admin #content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #admin #sidebar {
    width: 200px;
  }
  #admin #content {
    width: calc(100% - 60px);
    left: 200px;
  }
  #admin #content nav .nav-link {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  #admin #content nav form .form-input input {
    display: none;
  }
  #admin #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }
  #admin #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  #admin #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--color-primary);
    background: var(--red);
  }
  #admin #content nav form.show ~ .notification,
  #admin #content nav form.show ~ .profile {
    display: none;
  }
  #admin #content main .box-info {
    grid-template-columns: 1fr;
  }
  #admin #content main .table-data .head {
    min-width: 420px;
  }
  #admin #content main .table-data .order table {
    min-width: 420px;
  }
  #admin #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}

/* ===================Table CSS ============// */
#table-product {
  width: 100%;
  max-height: 100vh;
}
#table-product table {
  width: 100%;
  border-collapse: collapse;
}

#table-product thead th {
  position: sticky;
  top: 0;
  background-color: var(--color-primary);
  color: var(--color-grey-2);
  font-size: 15px;
  text-align: left;
}
#table-product th,
#table-product td {
  border-bottom: 1px solid var(--color-grey-2);
  padding: 10px 20px;
  font-size: 14px;
}
#table-product td img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 5px solid var(--color-grey-3);
}
#table-product tr:nth-child(even) {
  background-color: var(--color-grey-3);
}
#table-product tr:nth-child(odd) {
  background-color: var(--color-primary);
}
#table-product tr:hover td {
  color: #44b478;
  cursor: pointer;
  background-color: var(--color-primary);
}
#table-product button {
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  color: var(--color-grey-3);
  cursor: pointer;
}
#table-product button i {
  font-size: 20px;
}
#table-product td .btn-edit {
  background-color: var(--yellow);
  color: var(--color-grey0);
}
#table-product td .btn-remove {
  background-color: var(--red);
  color: var(--color-grey0);
}
#table-product .btn-add {
  background-color: var(--color-secondary);
  color: var(--color-grey0);
}

#table-product ::-webkit-scrollbar {
  width: 6px;
}
#table-product ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#table-product ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* ===============+FORM CSS ======================== */

/* #form-wrap .formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
} */
#form-wrap .formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
}
#form-wrap .formbold-input-flex > div {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
}
#form-wrap .formbold-textarea {
  display: flex;
  flex-direction: column-reverse;
}
#form-wrap .formbold-form-input {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-admin-color);
  outline: none;
  resize: none;
  border: 1px solid var(--text-admin-color);
  background: transparent;
  padding: 12px;
  border-radius: 8px;
}
#form-wrap .formbold-form-input::placeholder {
  color: #536387;
}
#form-wrap .formbold-form-input:focus {
  border-color: var(--color-secondary);
}
#form-wrap .formbold-form-label {
  color: var(--text-admin-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 18px;
}
#form-wrap .formbold-form-input:focus + .formbold-form-label {
  color: var(--color-secondary);
}
#form-wrap .formbold-input-file {
  margin-top: 30px;
}
#form-wrap .formbold-input-file input[type="file"] {
  position: absolute;
  top: 6px;
  left: 0;
  z-index: -1;
}
#form-wrap .formbold-input-file .formbold-input-label {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

#form-wrap .formbold-btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 25px;
  border: none;
  font-weight: 500;
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
  margin-top: 25px;
}
#form-wrap .formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
#form-wrap .formbold-btn:disabled {
  background-color: var(--color-grey-3);
}

/* ====== */
#form-wrap .upload-box {
  position: relative;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: 2px dashed #b9b9b9;
}
#form-wrap .uploading {
  background-color: var(--color-grey-3);
  opacity: 0.5;
}

#form-wrap .upload-img {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-wrap .upload-img img {
  object-fit: contain;
  width: 100%;
  border-radius: 5px;
  max-height: 500px;
}
#form-wrap #upload-input {
  display: none;
}
#form-wrap .upload-label {
  background-color: transparent;
  opacity: 0.8;
  text-transform: uppercase;
  color: var(--text-admin-color);
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 4px;
  display: table;
  margin: 20px auto 0 auto;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#form-wrap .upload-label:hover {
  opacity: 1;
}

/*====================== 404 page =======================*/
#not-found .page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}
#not-found .page_404 img {
  width: 100%;
}
#not-found .four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}
#not-found .four_zero_four_bg h1 {
  font-size: 80px;
}
#not-found .four_zero_four_bg h3 {
  font-size: 80px;
}
#not-found .link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
#not-found .contant_box_404 {
  margin-top: -50px;
}

/* ============= ICon loading========== */

.lds-roller {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
